<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h1>Github User Search</h1>
  </mat-toolbar-row>
</mat-toolbar>
<main>
  <mat-card>
    <mat-form-field aria-label="username search">
      <input matNativeControl type="search" placeholder="username" aria-label="username" [(ngModel)]="query">
    </mat-form-field>
    <mat-card-actions>
      <button mat-raised-button (click)="fetchData()">Search</button>
    </mat-card-actions>
  </mat-card>
  <mat-tab-group *ngIf="user">
    <mat-tab label="User">
      <ng-template matTabContent>
        <mat-card>
          <mat-card-header>
            <a [href]="user.html_url"><mat-card-title color="primary">{{user.name}} - {{user.login}}</mat-card-title></a>
          </mat-card-header>
          <mat-card-content>
            <a [href]="user.html_url">
              <img [src]="user.avatar_url" [alt]="user.name">
            </a>
          </mat-card-content>
        </mat-card>
      </ng-template>
    </mat-tab>
    <mat-tab label="Repositories" *ngIf="repos">
      <ng-template matTabContent>
          <mat-card>
            <mat-card-content>
              <mat-list>
                <mat-list-item *ngFor="let repo of repos;">
                  <div>
                    <a [href]="repo.html_url" matLine><h3 color="primary">{{repo.name}}</h3></a>
                    <p matLine>{{repo.description}}</p>
                  </div>
                </mat-list-item>
              </mat-list>
            </mat-card-content>
          </mat-card>
      </ng-template>
    </mat-tab>
    <mat-tab label="Starred">
      <ng-template matTabContent>
          <mat-card>
            <mat-card-content>
              <mat-list>
                <mat-list-item *ngFor="let star of starred;">
                  <div>
                    <a [href]="star.html_url" matLine color="primary"><h3>{{star.name}}</h3></a>
                    <p matLine>{{star.description}}</p>
                  </div>
                </mat-list-item>
              </mat-list>
            </mat-card-content>
          </mat-card>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</main>